<p *ngIf="!isAddMode" routerLink="/">< Retourner à la liste de manga</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <h1 *ngIf="isAddMode">Ajouter un Manga</h1>
  <h1 *ngIf="!isAddMode">Modifier un Manga</h1>
  <section id="text">
    <div>
      <label for="name">Nom du manga</label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
      <label for="mangaUrl">Image</label>
      <input id="mangaUrl" type="text" formControlName="imgUrl">
    </div>
  </section>
  <section id="checkbox">
    <div>
      <input id="isRead" type="checkbox" formControlName="isRead">
      <label for="isRead">A jour</label>
    </div>
    <div>
      <input id="isStart" type="checkbox" formControlName="isStart">
      <label for="isStart">A lire</label>
    </div>
    <div>
      <input id="isOver" type="checkbox" formControlName="isOver">
      <label for="isOver">Manga terminé</label>
    </div>
  </section>
  <button type="submit" *ngIf="isAddMode">Ajouter</button>
  <button type="submit" *ngIf="!isAddMode">Modifier</button>
</form>

