<h1>Mes mangas</h1>
<div *ngIf="!isConnect" class="account" routerLink="connection" ><img src="../../../assets/contacts-128.png" alt="connection"></div>
<div *ngIf="isConnect" class="account" (click)="deconnection()" ><img src="../../../assets/icons8-déconnexion-30.png" alt="deconnection"></div>
<div class="button" *ngIf="isConnect" (click)="addIsOpen = !addIsOpen" [ngClass]="{'rotate':addIsOpen}">+</div>
  <app-manga-add *ngIf="addIsOpen" [ngClass]="{'addWidth':addIsOpen}" (isOpenEmit)="isClose($event)"></app-manga-add>
<app-manga-list></app-manga-list>
<app-footer></app-footer>
<app-modal  [ngClass]="{'opacity':notSubmit === false}" (click)="notSubmit = true"></app-modal>
