/* You can add global styles to this file, and also import other style files */
body {
  background: #383838;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
.container {
  display: block;
  padding: 0 100px;
}

@media screen and (max-width: 992px){
  .container {
    padding: 0 0;
    width: auto;
  }
}

